@media screen and (max-width: 800px) {
    header {
        height: 60px;
        justify-content: space-between;
        padding: 0 28px;
    }
    
    .line {
        top:none;
        position: none;
        width: none;
        border-bottom: none;
    }

    .logo img {
        height: 50px;
        margin-right: 10px;
    }

    header .header_toggle {
        display: inline;
        color: #fff;
        font-size: 25px;
    }
    header .header_close {
        display: block;
        position: absolute;
        right: 24px;
        font-size: 25px;
        border-radius: 50%;
    }

    header .header_close:hover {
        background-color: #e61c23;
    }
    .nav {
        position: absolute;
        position: fixed;
        top: 0; 
        right: -100%;
        background: #070916;
        color: #fff;
        width: 60%;
        height: 100vh;
        padding: 24px 0;
        z-index: 100;
        transition: 0.5s;
        border-radius: 0 0 0 50%;

    }
    nav .nav_list {
        display: flex;
        flex-direction: column;
    }
    nav .nav_item {
        margin: 2rem 0;
    }
    .show {
        right: 0;
    }
    footer {
        margin-bottom: -2630px;
    }
    .footer-menu .items a {
        font-size: 12px;
    }
    .footer-content .social {
        margin: 1rem 0 1rem 0;
    }


/********************/
@media screen and (max-width: 360px) and (max-height: 800px) {
    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        padding-top: 40px;
        width: 100%;
        z-index: -1;
    }
    section.scripts-main {
        height: 1100px;
    }
    .footer-menu .items a {
        padding: 5px;
    }
    .footer-menu .items {
        display: block;
    }
    .footer-menu .items li {
        margin: 20px;
    }
    .footer-content .social {
        margin: 1rem 0 1rem 0;
    }
    }
    .parent {
        margin: 20px 0;
    }
    section.scripts-main .title {
        font-size: 20px;
        padding: 50px 0 20px 0;
    }
    section.scripts-main h1::after {
        width: 90px;
    }
}